version: 2
updates:
  - package-ecosystem: composer
    directory: /
    schedule:
      interval: daily
    versioning-strategy: widen
  - package-ecosystem: composer
    directory: /build
    schedule:
      interval: weekly
  - package-ecosystem: "github-actions"
    directory: /
    schedule:
      interval: daily
