/.editorconfig export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php_cs export-ignore
/.styleci.yml export-ignore
/.travis.yml export-ignore
/box.json.dist export-ignore
/Makefile export-ignore
/phpunit.xml.dist export-ignore
/test export-ignore
