__pycache__
*.pyc
/.phpunit.result.cache
/build/psysh/
/build/stub
/composer.lock
/dist/
/phpstan.neon
/vendor-bin/*/vendor/
/vendor-bin/phan/composer.lock
/vendor-bin/phpstan/composer.lock
/vendor-bin/phpunit/composer.lock
/vendor/
