language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

install:
  - travis_retry composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/0c7cfb83f9925542003e
    on_success: change
    on_failure: always
    on_start:   false
