{
    "stub": "stub",
    "output": "psysh",
    "compactors": [
        "KevinGH\\Box\\Compactor\\Php"
    ],
    "chmod": "0755",
    "blacklist": [
        "grammar",
        "test_old",
        "Documentation"
    ]
}
