includes:
  - vendor-bin/phpstan/baseline.neon
  - vendor-bin/phpstan/ignore.neon

parameters:
  # Test on PHP 7.4
  phpVersion: 70400

  # See: https://phpstan.org/user-guide/rule-levels
  level: 1
  paths:
    - src
    - test
  excludePaths:
    # Signature errors related to wide PHP version support.
    # See: https://github.com/bobthecow/psysh/pull/738#issuecomment-1202622730
    - src/Readline/Hoa/FileLink.php
    - src/Util/Str.php
  bootstrapFiles:
    - vendor-bin/phpstan/bootstrap.php
  reportUnmatchedIgnoredErrors: true
