<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" colors="true" bootstrap="vendor/autoload.php">
	<testsuite name="PsySH">
		<directory suffix="Test.php">./test</directory>
	</testsuite>

	<filter>
		<whitelist>
			<directory suffix=".php">./src/Psy</directory>
		</whitelist>
	</filter>
</phpunit>
