parameters:
  ignoreErrors:
    # Runkit extension is optional, so we shouldn't warn about its functions
    - "#^Function runkit[a-zA-Z0-9_]+ not found\\.$#"
    - "#^Constant RUNKIT_[a-zA-Z0-9_]+ not found\\.$#"
    # PHP8 classes are used only after explicit check for runtime version, so let's ignore it
    - message: "#^Class (UnitEnum|ReflectionUnionType)+ not found\\.$#"
      paths:
        - ../../src/ExecutionLoop/ProcessForker.php
    # PHP8.0 introduced second argument for
    - "#^Class IteratorIterator constructor invoked with 2 parameters, 1 required\\.$#"
    # Backwards-compatiblity with PHP-Parser 4.x
    - "#^Class PhpParser\\\\Node\\\\Stmt\\\\UseItem not found\\.$#"
    - "#^Access to undefined constant PhpParser\\\\ParserFactory::PREFER_PHP7\\.$#"
