<header id="hero">
  <div class="jumbotron">
    <div class="container">
      <h1>PsySH</h1>

      <p>PsySH is a runtime developer console and debugger for PHP. Unlike <a href="http://php.net/manual/en/features.commandline.interactive.php"><code>php -a</code></a>, PsySH is a <abbr title="Read-Eval-Print Loop">REPL</abbr>, does automatic semicolon insertion, and is really hard to crash. In addition to working as a REPL, PsySH can be used as a debugger, much like javascript's <code>debugger</code> statement, saving you from the pain of endless <code>var_dump()</code> and <code>die()</code> iterations.</p>

      <p>For an overview of the state of PHP debugging and why PsySH might be for you, see the slides from <a href="https://presentate.com/bobthecow/talks/php-for-pirates">Interactive Debugging in PHP</a> at OSCON 2013.</p>

      <p class="call-to-action"><a href="https://github.com/bobthecow/psysh" class="btn btn-primary btn-lg">Get PsySH</a></p>
    </div>
  </div>

  {% include social.html %}
</header>