<div id="install" class="container">
  <h2>Have eight seconds? <em>Try PsySH</em></h2>

  <div class="row">
    <div class="composer col-md-5">
      <p class="title">The easy way</p>
      <div class="shell">
        <p class="line">
          <span class="pwd">~</span>
          <span class="prompt">$</span>
          <span class="cmd">composer</span>
          <span class="args">global require psy/psysh:~0.1</span>
        </p>
        <p class="line">
          <span class="pwd">~</span>
          <span class="prompt">$</span>
          <span class="cmd">psysh</span>
        </p>
      </div>
    </div>
    <div class="or col-md-2"><em>or</em></div>
    <div class="curl col-md-5">
      <p class="title">The other easy way</p>
      <div class="shell">
        <p class="line">
          <span class="pwd">~</span>
          <span class="prompt">$</span>
          <span class="cmd">wget</span>
          <span class="args">psysh.org/psysh</span>
        </p>
        <p class="line">
          <span class="pwd">~</span>
          <span class="prompt">$</span>
          <span class="cmd">chmod</span>
          <span class="args">+x psysh</span>
        </p>
        <p class="line">
          <span class="pwd">~</span>
          <span class="prompt">$</span>
          <span class="cmd">./psysh</span>
        </p>
      </div>
    </div>
  </div>
</div>
