<div class="social">
  <a class="socialite github-watch" href="https://github.com/bobthecow/psysh" data-user="bobthecow" data-repo="psysh" data-type="watch" data-count="true">
    Watch on GitHub
  </a>

  <a class="socialite github-fork" href="https://github.com/bobthecow/psysh" data-user="bobthecow" data-repo="psysh" data-type="fork" data-count="true">
    Fork on GitHub
  </a>

  <a class="socialite twitter-follow" href="http://twitter.com/bobthecow" data-dnt="true" rel="nofollow" target="_blank">
    Follow @bobthecow
  </a>

  <a class="socialite twitter-share" href="http://twitter.com/share" data-url="http://psysh.org" data-dnt="true" rel="nofollow" target="_blank">
    Share on Twitter
  </a>

  <a class="socialite googleplus-one" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http://psysh.org" data-size="medium" data-href="http://psysh.org" rel="nofollow" target="_blank">
    Share on Google+
  </a>

  <a class="socialite facebook-like" href="http://www.facebook.com/sharer.php?u=http://psysh.org" data-href="http://psysh.org" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="segoe ui" rel="nofollow" target="_blank">
    Share on Facebook
  </a>
</div>