<div class="hero oscon-talk">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2>How is this thing better than <code>$shell_&shy;ive_used_&shy;since_2006</code>?</h2>
          <p>Check out the slides from <a href="https://presentate.com/bobthecow/talks/php-for-pirates">Interactive Debugging in PHP at OSCON 2013</a> for an overview of the state of PHP debugging and why PsySH might be for you.</p>
        </div>
        <div class="col-sm-4">
          <a href="https://presentate.com/bobthecow/talks/php-for-pirates">
            <img class="img-thumbnail img-responsive" src="/assets/img/php-for-pirates.jpg" alt="Interactive Debugging in PHP">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>