<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAXVBMVEX%2F%2F%2F7%2B%2Fv3u7u7X19f8%2FPzLy8vV1dXb29v19fXo6OjAwMD9%2Ffz5%2BfmdnZ2kpKSSkpKmpqaLi4vHx8evr6%2BysrKgoKDd3d3k5OT29vb39%2Ff%2B%2Fv76%2Bvry8vLw8PDq6urNCGWzAAAAtUlEQVR4Xu3S1wrDMAxAUct7ZO%2FV%2Fv9nNiBIHgqNBQmFkPt%2BkIzM7tQTABDBMEh5KWBSau2oQNOGOCpgSVLXNR2QigJ5ngshEKRpCgAHa6ygqnZg7clgmpqmMYYjyLJMiPd5AFsB518gsqIo8D3%2FBUopay2Ctm277nUEvO%2F76wAAlGXpvdouPc%2FsJxhHGsAJSu2AHQYjIHbOccMpQGsTBWADDj9VVCEE3CcaLIuhgRBwn9v09AHS8gwfehlVVgAAAABJRU5ErkJggg%3D%3D" type="image/png" />
    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/syntax.css" rel="stylesheet" media="screen">
    <link href="/assets/css/styles.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top hidden-xs" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">PsySH</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#install">Installation</a></li>
            <li><a href="#configure">Configuration</a></li>
            <li><a href="#usage">Usage</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {% include hero.html %}

    <div class="container">
      {{ content }}
    </div>

    {% include tweets.html %}

    <footer id="footer">
      {% include social.html %}

      <div class="container">
        PsySH is kinda rad.

        Made by <a href="http://justinhileman.info">Justin Hileman</a> and some <a href="https://github.com/bobthecow/psysh/graphs/contributors">really awesome contributors</a>.
      </div>
    </footer>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/socialite.js"></script>
    <script src="/assets/js/socialite-github.js"></script>
    <script>
      jQuery(function() {
          Socialite.load($('.social'));
          $('#tweet-carousel').carousel();
      });

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-719239-22', 'psysh.org');
      ga('send', 'pageview');
    </script>
  </body>
</html>
