name: Run Phar tests

on:
  workflow_call:

jobs:
  test:
    name: PHP ${{ matrix.php }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['7.4', '8.0', '8.1', '8.2', '8.3', '8.4']

    steps:
      - name: Check out code
        uses: actions/checkout@v5.0.0
        with:
          sparse-checkout-cone-mode: false
          sparse-checkout: |
            .github
            test

      - name: Install PHP
        uses: shivammathur/setup-php@2.35.5
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none

      - name: Download build artifacts
        uses: actions/download-artifact@v5.0.0
        with:
          name: binaries
          path: build

      - name: Make binaries executable
        run: chmod +x build/*/psysh

      - name: Smoke test
        run: .github/bin/smoketest.sh psysh

      - name: Set up problem matchers
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Composer init
        run: composer init --no-interaction --name=psy/test --autoload=test/

      - name: Install PHPUnit
        uses: nick-fields/retry@v3.0.2
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer require --no-interaction --no-progress "phpunit/phpunit:^9.6"

      - name: Run test suite
        run: vendor/bin/phpunit --bootstrap build/psysh/psysh --exclude-group isolation-fail test/
