name: Tests

on:
  push:
  pull_request:

jobs:
  stable:
    name: Test @stable deps
    uses: ./.github/workflows/run-tests.yml

  dev:
    name: Test @dev deps
    uses: ./.github/workflows/run-tests.yml
    with:
      deps: dev
      continue_on_error: true

  lowest:
    name: Test --prefer-lowest deps
    uses: ./.github/workflows/run-tests.yml
    with:
      deps: lowest
      continue_on_error: true

  build:
    name: Test Phar build
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5.0.0

      - name: Install PHP
        uses: shivammathur/setup-php@2.35.5
        with:
          php-version: '7.4'
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        uses: nick-fields/retry@v3.0.2
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer update --no-interaction --no-progress

      - name: Build Phar binaries
        run: make build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4.6.2
        with:
          name: binaries
          path: build/*/psysh

      - name: Smoke test
        run: .github/bin/smoketest.sh

  phar:
    name: Test Phar
    needs: build
    uses: ./.github/workflows/run-phar-tests.yml
